/*---------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

body {
  margin-top: 2rem;
  padding: 1rem;
}

/*navbar*/
.flex {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

/*Gray seperators*/
.heading {
  text-align: center;
  font-size: 4rem;
  color: white;
  padding: 1rem;
  margin: 2rem 0;
  background: rgb(56, 65, 95);
}

/*navbar*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(56, 65, 95);
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .logo {
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}
header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: white;
}
header .navbar a a:gray {
  color: gray;
}
header #toggler {
  display: none;
}
header .fa-bars {
  font-size: 3rem;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  display: none;
}
header .icons a {
  font-size: 2.5rem;
  color: rgb(138, 138, 138);
  margin-left: 1.5rem;
}
header a:gray {
  color: gray;
}

/*------------*/
.tou-container {
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6862745098);
  border-radius: 2rem;
  margin-bottom: 2rem;
}
.tou-container .content {
  border-radius: 2rem;
  max-width: 50rem;
  min-width: 20rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
}
.tou-container .content h1 {
  font-size: 6rem;
  color: rgb(44, 44, 44);
}
.tou-container .content span {
  font-size: 3.5rem;
  color: gray;
  padding: 1rem 0;
  line-height: 1.5;
}
.tou-container .content li {
  font-size: 1.5rem;
  color: rgb(44, 44, 44);
  padding: 0.1rem 0;
  line-height: 1;
}
.tou-container .content .terms-btn {
  background-color: rgb(138, 138, 138);
  color: white;
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 70%;
}
.tou-container .content .terms-btn a {
  color: black;
}
.tou-container .content .terms-btn a:active {
  color: white;
}
.tou-container .content .terms-btn:active {
  background-color: rgb(44, 44, 44);
}

.application {
  justify-content: center;
  font-size: 1.6rem;
  margin-top: 5rem;
  font-family: Arial, sans-serif;
  color: rgb(44, 44, 44);
  background-color: #e7e7e7;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.application label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  max-width: 45rem;
}
.application input[type=text],
.application textarea {
  padding: 1rem;
  width: 30%;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.application select[name=category] {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.application input[type=date],
.application input[type=time] {
  padding: 1rem;
  border: none;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.application select[name=location] {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 3rem;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.application ::-moz-placeholder {
  color: rgba(0, 0, 0, 0.1);
}
.application ::placeholder {
  color: rgba(0, 0, 0, 0.1);
}

/*submit button*/
.submit-images {
  background-color: #e7e7e7;
  border-radius: 1rem;
  padding-bottom: 2rem;
}
.submit-images .image-container {
  justify-content: center;
}
.submit-images .image-container .images {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
}
.submit-images .image-container .images .image {
  -o-object-fit: cover;
     object-fit: cover;
  border: 1rem solid white;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 1rem;
}
.submit-images .choose-an-image {
  text-align: center;
}
.submit-images .file-upload {
  display: inline-block;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #5e5e5e;
  color: #fff;
  margin-left: 3rem;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.submit-images .file-upload:hover {
  background-color: #818181;
}

/*submit button*/
.submit-btn {
  display: inline-block;
  border-radius: 5rem;
  margin-left: 3rem;
  margin-top: 2rem;
  background: rgb(44, 44, 44);
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.8rem;
}
.submit-btn:hover {
  background: rgba(65, 65, 65, 0.377);
}

.contact .row {
  flex-wrap: wrap-reverse;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 0.5rem;
}
.contact .row form .btn {
  background-color: rgb(44, 44, 44);
  color: white;
  padding: 0.7rem;
  border-radius: 1rem;
}
.contact .row form .box {
  font-size: 1.7rem;
  padding: 1rem;
  text-transform: none;
  color: rgb(44, 44, 44);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 0.7rem 0;
}
.contact .row form .box:focus {
  border-color: rgb(44, 44, 44);
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}
.contact .row .image {
  flex: 1 1 60rem;
}
.contact .row .image img {
  width: 100%;
}

.footer {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  padding: 2rem;
}
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  padding-left: 15rem;
  gap: 1.5rem;
}
.footer .box-container .box {
  flex: 1 1 25rem;
  /*--------*/
  /*--------*/
  /*--------*/
  /*--------*/
}
.footer .box-container .box h3 {
  color: rgb(44, 44, 44);
  font-size: 2.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  color: rgb(138, 138, 138);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a:hover {
  text-decoration: underline;
  color: rgb(44, 44, 44);
}
.footer .box-container .box img {
  margin-top: 1rem;
}
.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: rgb(44, 44, 44);
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
}

/* media queries  */
@media screen {
  .image-container {
    display: flex;
  }
  .tou-container {
    float: right;
    margin-right: 3rem;
    align-self: center;
  }
  .tou-container .content {
    max-width: 70rem;
  }
}
@media (max-width: 1440px) {
  html {
    max-width: 100%;
  }
  .image-container {
    display: flex;
  }
  .tou-container {
    float: right;
    align-self: center;
  }
}
@media (max-width: 1210px) {
  html {
    max-width: 100%;
  }
  .image-container {
    flex-wrap: wrap;
  }
  #event-name {
    width: 45rem;
  }
  #event-description {
    width: 45rem;
  }
  #event-agenda {
    width: 45rem;
  }
  .tou-container {
    float: right;
    align-self: center;
    margin-top: -0.5rem;
  }
  .tou-container .content {
    margin-top: -0.5rem;
    max-width: 60rem;
    max-height: 57rem;
  }
  .tou-container .content .terms-btn {
    padding: 0.3rem;
  }
}
@media (max-width: 1024px) {
  html {
    max-width: 100%;
  }
  #event-name {
    width: 80%;
  }
  #event-description {
    width: 80%;
  }
  #event-agenda {
    width: 80%;
  }
  .tou-container {
    float: left;
    align-self: center;
    margin-top: -0.5rem;
  }
  .tou-container .content {
    margin-top: -0.5rem;
    max-width: 60rem;
    max-height: 57rem;
  }
  .tou-container .content .terms-btn {
    padding: 0.3rem;
  }
}
@media (max-width: 1160px) {
  .tou-container {
    float: left;
    align-self: center;
    margin-top: -0.5rem;
  }
  .tou-container .content {
    margin-top: -0.5rem;
    max-width: 100%;
    max-height: 60%;
  }
  .tou-container .content .terms-btn {
    padding: 0.3rem;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home {
    background-position: left;
  }
  #event-name {
    width: 80%;
  }
  #event-description {
    width: 80%;
  }
  #event-agenda {
    width: 80%;
  }
  .tou-container {
    float: left;
    align-self: center;
    margin-top: -0.5rem;
  }
  .tou-container .content {
    margin-top: -0.5rem;
    max-width: 100%;
    max-height: 100%;
  }
  .tou-container .content .terms-btn {
    padding: 0.3rem;
  }
}
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: white;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar a {
    padding: 1.5rem;
    margin: 1.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    background: rgb(56, 65, 95);
    display: block;
  }
  header #toggler:checked ~ .navbar {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
  .icons-container .icons h3 {
    font-size: 2rem;
  }
  .icons-container .icons span {
    font-size: 1.7rem;
  }
  .about .headerinfo {
    padding-top: 4rem;
  }
  .about .headerinfo h1 {
    font-size: 2rem;
  }
  .submit {
    text-align: center;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
  #event-name {
    width: 80%;
  }
  #event-description {
    width: 80%;
  }
  #event-agenda {
    width: 80%;
  }
  .tou-container {
    float: left;
    align-self: center;
  }
  .tou-container .content {
    max-width: 80rem;
  }
}/*# sourceMappingURL=eventform.css.map */