* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

/*HEADER*/
.heading {
  text-align: center;
  font-size: 4rem;
  color: white;
  padding: 1rem;
  margin: 2rem 0;
  background: rgb(56, 65, 95);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: rgb(44, 44, 44);
  color: white;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.8rem;
}

.btn:hover {
  background: rgba(65, 65, 65, 0.377);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgb(56, 65, 95);
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-size: 3rem;
  color: white;
  font-weight: bolder;
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: white;
  background-color: rgb(56, 65, 95);
}

header .navbar a:hover {
  color: gray;
}

header .icons a {
  font-size: 2.5rem;
  color: rgb(202, 202, 202);
  margin-left: 1.5rem;
}

header .icons a:hover {
  color: gray;
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 0.1rem solid rgba(255, 255, 255, 0.3);
  display: none;
}

/*FRONT PANEL*/
.home-container {
  background: url(../image/someone_buying_tickets_on_their_phone.webp) no-repeat;
  background-size: cover;
  background-position: center;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.home .content {
  max-width: 50rem;
  background-color: rgba(255, 255, 255, 0.6862745098);
  border-radius: 40px;
  padding: 20px;
}

.home .content h3 {
  font-size: 6rem;
  color: rgb(44, 44, 44);
}

.home .content span {
  font-size: 3.5rem;
  color: gray;
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 1.5rem;
  color: rgb(44, 44, 44);
  padding: 1rem 0;
  line-height: 1.8;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-bottom: 3rem;
  padding: 2rem 0;
}
.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}
.about .row .video-container:hover video {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  opacity: 50%;
}
.about .row .video-container:hover .play-button {
  display: block;
}
.about .row .video-container video {
  width: 100%;
  height: auto;
  color: #000;
  border: 1.5rem solid white;
  border-radius: 0.5rem;
  height: 100%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  -o-object-fit: cover;
     object-fit: cover;
}
.about .row .video-container h3 {
  top: 80%;
  position: absolute;
  font-size: 3rem;
  transform: translateY(-50%);
  width: 100%;
  background: rgb(255, 255, 255);
  text-align: center;
  padding: 1rem 2rem;
  mix-blend-mode: screen;
}
.about .row .content {
  flex: 1 1 40rem;
}
.about .row .content h3 {
  font-size: 3rem;
  color: rgb(44, 44, 44);
  padding-bottom: 0.5rem;
}
.about .row .content p {
  font-size: 1.5rem;
  color: rgb(44, 44, 44);
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.8;
}
.about .row .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: none;
}
.about .row .play-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.about .row .play-button:focus {
  outline: none;
}

/*INFO BOXES*/
.icons-container {
  background: #eee;
  padding: 2rem 0;
}

.icons-container .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.icons-container .box-container .box {
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .box-container .box img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .box-container .box h3 {
  color: #333;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.icons-container .box-container .box span {
  color: #555;
  font-size: 1.3rem;
}

/*PRODUCTS*/
.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.products .box-container .box .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: white;
  background: rgb(44, 44, 44);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .category {
  position: absolute;
  top: 1rem;
  left: 45rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: white;
  background-color: rgb(44, 44, 44);
  z-index: 1;
  border-radius: 0.5rem;
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  height: 25rem;
  width: 45rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
}

.products .box-container .box:hover .image img {
  transform: scale(1.5);
}

.products .box-container .box .image .icons {
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image .icons {
  bottom: 0;
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 100%;
  background-color: rgba(94, 94, 94, 0.589);
  color: #fff;
}

.products .box-container .box .image .icons a {
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 50%;
  background: var(--pink);
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn {
  border-left: 0.1rem solid rgba(255, 255, 255, 0.4666666667);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.4666666667);
  width: 100%;
}

.products .box-container .box .image .icons a:hover {
  background: #333;
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span {
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

/*REVIEW*/
.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.review .box-container .box .fa-quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #eee;
}

.review .box-container .box .stars i {
  color: var(--pink);
  font-size: 2rem;
}

.review .box-container .box p {
  color: #999;
  font-size: 1.5rem;
  line-height: 1.8;
  padding-top: 2rem;
}

.review .box-container .box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.review .box-container .box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}

.review .box-container .box .user h3 {
  font-size: 2rem;
  color: #333;
}

.review .box-container .box .user span {
  font-size: 1.5rem;
  color: #999;
}

/*CONTACT US*/
.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

.contact .row form .box:focus {
  border-color: var(--pink);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/*FOOTER*/
.footer .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box {
  flex: 1 1 25rem;
}

.footer .box-container .box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a {
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1rem 0;
}

.footer .box-container .box a:hover {
  color: var(--pink);
  text-decoration: underline;
}

.footer .box-container .box img {
  margin-top: 1rem;
}

.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  /* padding-bottom: 8rem; */
}

.footer .credit span {
  color: var(--pink);
}

/* media queries  */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .home {
    background-position: left;
  }
}
@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header #toggler:checked ~ .navbar {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: rgb(56, 65, 95);
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
  .home .content h3 {
    font-size: 5rem;
  }
  .home .content span {
    font-size: 2.5rem;
  }
  .home-container {
    background: url(../image/someone_buying_tickets_on_their_phone.webp) no-repeat;
    background-size: auto;
    background-position: center;
    margin-bottom: -120px;
    margin-top: -80px;
  }
  .icons-container .icons h3 {
    font-size: 2rem;
  }
  .icons-container .icons span {
    font-size: 1.7rem;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
    margin-top: 120px;
  }
  .home-container {
    background: url(../image/someone_buying_tickets_on_their_phone.webp) no-repeat;
    background-size: 500px 300px;
    background-position: center;
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -200px;
    margin-bottom: -400px;
  }
}
@media (max-width: 390px) {
  .heading {
    font-size: 3rem;
    margin-top: 60px;
  }
  .home-container {
    background: url(../image/someone_buying_tickets_on_their_phone.webp) no-repeat;
    background-size: 500px 300px;
    background-position: center;
    display: none;
  }
}/*# sourceMappingURL=events.css.map */