$maincolor: rgb(56, 65, 95);
$white: white;
$lightgray:rgb(138, 138, 138);
$darkgray:rgb(44, 44, 44);
$darkgrayopacity:rgba(65, 65, 65, 0.377);
$gray:gray;
$cardwhite:#e7e7e7;
$checkoutborder: #fff7;
$cardboxshadow:rgba(0,0,0,.1);
$footerbackground:rgb(235, 235, 235);

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
/*--Navbar*/

section{
    padding:2rem;
    margin: 0 auto;
    max-width: 1200px;
}

/*panel dividers with title*/
.heading{
    text-align: center;
    font-size: 4rem;
    color:$white;
    padding:1rem;
    margin:2rem 0;
    background:$maincolor;
}

/*Learn more button*/
.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:$darkgray;
    color:$white;
    padding:1rem 3rem;
    cursor: pointer;
    font-size: 1.8rem;
    &:hover{
        background:$darkgrayopacity;
    }
}


header{
    position: fixed;
    top:0; left:0; right:0;
    background:$maincolor;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem $cardboxshadow;

    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .logo{
        font-size: 3rem;
        color:$white;
        font-weight: bolder;
    }

    .navbar a{
        font-size: 2rem;
        padding:0 1.5rem;
        color:$white;

        &:hover{
            color:$gray;
        }
    }

    .icons a{
        font-size: 2.5rem;
        color:$lightgray;
        margin-left: 1.5rem;

        &:hover{
            color:$darkgray;
        }
    }

    #toggler{
        display: none;
    }

    .fa-bars{
        font-size: 3rem;
        color:$white;
        border-radius: .5rem;
        padding:.5rem 1.5rem;
        cursor: pointer;
        border:.1rem solid rgba(255, 255, 255, 0.3);
        display: none;
    }
}

/*FRONT PANEL*/
.home-container{
    background:url(../image/someone_buying_tickets_on_their_phone.webp) no-repeat;
    background-size: cover;
    background-position: center;
    .home {
        display: flex;
        align-items: center;
        min-height: 100rem;
        .content {
            max-width: 50rem;
            background-color: #ffffffaf;
            border-radius: 40px;
            padding: 20px;
    
            h1 {
            font-size: 6rem;
            color: $darkgray;
            }
    
            span {
            font-size: 3.5rem;
            color: $gray;
            padding: 1rem 0;
            line-height: 1.5;
            }
    
            p {
            font-size: 1.5rem;
            color: $darkgray;
            padding: 1rem 0;
            line-height: 1.8;
            }
        }
    }
    
}

/*ABOUT US*/
.about {
    .row {
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 2rem 0;
        padding-bottom: 3rem;
        .video-container {
        flex: 1 1 40rem;
        position: relative;
            video {
                width: 100%;
                border: 1.5rem solid $white;
                border-radius: .5rem;
                box-shadow: 0 .5rem 1rem $cardboxshadow;
                height: 100%;
                object-fit: cover;
            }
            h3 {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 3rem;
                background: $white;
                width: 100%;
                padding: 1rem 2rem;
                text-align: center;
                mix-blend-mode: screen;
            }
        }
        .content {
        flex: 1 1 40rem;
            h3 {
                font-size: 3rem;
                color: $darkgray;
                padding-bottom: .5rem;
            }

            p {
                font-size: 1.5rem;
                color: $darkgray;
                padding: .5rem 0;
                padding-top: 1rem;
                line-height: 1.8;
            }
        }
    }
}

/*INFO BOXES*/
.icons-container {
    background: $cardboxshadow;
    padding: 2rem 0;
  
    .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
  
        .box {
            background: $white;
            border: 0.1rem solid $cardboxshadow;
            padding: 2rem;
            display: flex;
            align-items: center;
            flex: 1 1 25rem;
    
            img {
            height: 5rem;
            margin-right: 2rem;
            }
    
            h3 {
            color: $darkgray;
            padding-bottom: 0.5rem;
            font-size: 1.5rem;
            }
    
            span {
            color: $darkgray;
            font-size: 1.3rem;
            }
        }
    }
  }
/*PRODUCTS*/
.products {
    .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
  
      .box {
        flex: 1 1 30rem;
        box-shadow: 0 0.5rem 1.5rem $cardboxshadow;
        border-radius: 0.5rem;
        border: 0.1rem solid $cardboxshadow;
        position: relative;
  
        .discount {
          position: absolute;
          top: 1rem;
          left: 1rem;
          padding: 0.7rem 1rem;
          font-size: 2rem;
          color: $white;
          background: $darkgray;
          z-index: 1;
          border-radius: 0.5rem;
        }
  
        .category {
          position: absolute;
          top: 1rem;
          left: 45rem;
          padding: 0.7rem 1rem;
          font-size: 2rem;
          color: $white;
          background-color: $darkgray;
          z-index: 1;
          border-radius: 0.5rem;
        }
  
        .image {
          position: relative;
          text-align: center;
          padding-top: 2rem;
          overflow: hidden;
  
          img {
            height: 25rem;
            width: 45rem;
            object-fit: cover;
            border-radius: 2px;
          }
  
          .icons {
            position: absolute;
            bottom: -7rem;
            left: 0;
            right: 0;
            display: flex;
  
            a {
              height: 5rem;
              line-height: 5rem;
              font-size: 2rem;
              width: 50%;
              background-color: rgba(27, 27, 27, 0.589);
              color: $white;
  
              &:hover {
                background: $darkgray;
              }
            }
  
            .cart-btn {
              border-left: 0.1rem solid $checkoutborder;
              border-right: 0.1rem solid $checkoutborder;
              width: 100%;
            }
          }
        }
  
        &:hover {
          .image img {
            transform: scale(1.5);
          }
  
          .image .icons {
            bottom: 0;
          }
        }
  
        .content {
          padding: 2rem;
          text-align: center;
  
          h3 {
            font-size: 2.5rem;
            color: $darkgray;
          }
  
          .price {
            font-size: 2.5rem;
            color: $darkgray;
            font-weight: bolder;
            padding-top: 1rem;
  
            span {
              font-size: 1.5rem;
              color: $lightgray;
              font-weight: lighter;
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
/*REVIEW*/
.review {
    .box-container {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
  
        .box {
            flex: 1 1 30rem;
            box-shadow: 0 0.5rem 1.5rem $cardboxshadow;
            border-radius: 0.5rem;
            padding: 3rem 2rem;
            position: relative;
            border: 0.1rem solid $cardboxshadow;
    
            .fa-quote-right {
            position: absolute;
            bottom: 3rem;
            right: 3rem;
            font-size: 6rem;
            color: $white;
            }
    
            .stars {
            i {
                color: $darkgray;
                font-size: 2rem;
            }
            }
    
            p {
            color: $lightgray;
            font-size: 1.5rem;
            line-height: 1.8;
            padding-top: 2rem;
            }
    
            .user {
            display: flex;
            align-items: center;
            padding-top: 2rem;
    
            img {
                height: 6rem;
                width: 6rem;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 1rem;
            }
    
            h3 {
                font-size: 2rem;
                color: $darkgray;
            }
    
            span {
                font-size: 1.5rem;
                color: $lightgray;
            }
            }
        }
    }
  }
/*CONTACT US*/
.contact {
    .row {
      display: flex;
      flex-wrap: wrap-reverse;
      gap: 1.5rem;
      align-items: center;
  
        form {
            flex: 1 1 40rem;
            padding: 2rem 2.5rem;
            box-shadow: 0 .5rem 1.5rem $cardboxshadow;
            border: 0.1rem solid $cardboxshadow;
            background: $white;
            border-radius: 0.5rem;
            
            .box {
            padding: 1rem;
            font-size: 1.7rem;
            color: $darkgray;
            text-transform: none;
            border: 0.1rem solid $cardboxshadow;
            border-radius: 0.5rem;
            margin: 0.7rem 0;
            width: 100%;
    
            &:focus {
                border-color: $darkgray;
            }
            }
    
            textarea {
            height: 15rem;
            resize: none;
            }
        }
    
        .image {
            flex: 1 1 40rem;
    
            img {
            width: 100%;
            }
        }
    }
  }
/*FOOTER*/
.footer{
    border-radius: 1rem;
    padding: 2rem;
    .box-container{
        background-color: $footerbackground;
        display: flex;
        flex-wrap: wrap;
        gap:1.5rem;
        padding-left: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: .5rem;
        
        
    
        .box{
            flex:1 1 25rem;
            /*--------*/
            h3{
                color:$darkgray;
                font-size: 2.5rem;
                padding:1rem 0;
            }
            /*--------*/
            a{
                display: block;
                color:$lightgray;
                font-size: 1.5rem;
                padding:1rem 0;
            }
            /*--------*/
            a:hover{
                text-decoration: underline;
                color:$darkgray
            }
            /*--------*/
            img{
                margin-top: 1rem;
            }
        }
    }
    .credit{
        text-align: center;
        padding:1.5rem;
        margin-top: 1.5rem;
        padding-top: 2.5rem;
        font-size: 2rem;
        color:$darkgray;
        border-top: .1rem solid $cardboxshadow;
    }
    
} 












/* media queries  */
@media (max-width:991px){
    
    html{
        font-size: 55%;
    }

    .home{
        background-position: left;
    }

}

@media (max-width:768px){

    header .fa-bars{
        display: block;
    }

    header .navbar{
        position:absolute;
        top:100%; left:0; right:0;
        background:$white;
        border-top: .1rem solid $cardboxshadow;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background:$maincolor;
        border:.1rem solid $cardboxshadow;
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }

    .icons-container .icons h3{
        font-size: 2rem;
    }
    
    .icons-container .icons span{
        font-size: 1.7rem;
    }
    
}

@media (max-width:450px){
    
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}